---
import Button from "@components/Button.astro";
import ArrowRightIcon from "@assets/icons/ArrowRight.astro"
---

<div class="w-screen min-h-screen py-10 text-white font-sans bg-slate-900">
  <div class="container mx-auto">
    <section class="">
      <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <img class="w-full rounded" src="/midudev.jpg" alt="Midudev">
          <div class="mt-4 md:mt-0">
              <h2 class="mb-4 text-4xl tracking-tight font-bold text-white">Presentado por midudev</h2>
              <p class="mb-6 font-medium text-gray-400 md:text-lg">¡midudev será el maestro de ceremonias del evento! Estará dinamizando toda la jornada en el auditorio</p>
              <Button link="https://twitch.tv/midudev" text="¿Quién es midudev?" type="yellow">
                <ArrowRightIcon slot="icon" />
              </Button>
          </div>
      </div>
    </section>
    <section class="">
      <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <div class="mb-6 md:mb-0">
              <h2 class="mb-4 text-4xl tracking-tight font-bold text-white">¿Por qué asistir?</h2>
              <p class="mb-6 font-medium text-gray-400 md:text-lg text-pretty">¡Más de 500 personas para hacer networking, charlas top internacionales, talleres, café y comida incluida y muchas sorpresas y sorteos!</p>
              <Button link="https://ti.to/js-conf/js-conf-2025/with/earlybird" text="Quiero mi entrada" type="yellow">
                <ArrowRightIcon slot="icon" />
              </Button>
          </div>
          <img class="w-full rounded" src="/networking.jpg" alt="Auditorio">
      </div>
    </section>
    <section class="">
      <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
          <img class="w-full rounded" src="/auditorio.jpg" alt="Auditorio">
          <div class="mt-4 md:mt-0">
              <h2 class="mb-4 text-4xl tracking-tight font-bold text-white">Un espacio para todos</h2>
              <p class="mb-6 font-medium text-gray-400 md:text-lg">La JSConf España se celebra en La Nave de Madrid, un lugar con espacio para poder reunir a todos los participantes de la comunidad JavaScript.</p>
              <Button link="https://maps.app.goo.gl/AWd5ohsAqWvzc7En7" text="¿Cómo se llega?" type="yellow">
                <ArrowRightIcon slot="icon" />
              </But>
          </div>
      </div>
    </section>
  </div>
</div>