---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Código de Conducta">
  <article class="prose prose-invert prose-lg mx-auto max-w-xl text-white py-10">
    <a href="/" class="text-white mb-10 inline-block">
      ← Volver al inicio
    </a>

<h1>Código de Conducta</h1>

<p>JSConf España se dedica a proporcionar una experiencia de conferencia libre de acoso para todos.</p>
  
<p>Cualquier persona que asista (incluidos ponentes, patrocinadores y voluntarios) debe respetar nuestro Código de Conducta. El equipo organizador no tolerará ninguna forma de acoso o discriminación; quien cometa estas acciones será sancionado. Los organizadores harán cumplir este código durante todo el evento. Esperamos la cooperación de todos los participantes para ayudar a asegurar un ambiente seguro para todos. ¡Ayúdanos a hacer de JSConf España una experiencia agradable para todos!</p>

<h2>Propósito de este documento</h2>

<p>JSConf México está dedicada a proveer una experiencia libre de acoso para quienes asistan, independientemente de su sexo, orientación sexual, discapacidad, apariencia física, tipo de cuerpo, raza o religión. No toleraremos el acoso de las y los participantes de la conferencia de ninguna forma. El lenguaje y las imágenes sexuales no son apropiadas durante ningún momento de la conferencia; incluyendo charlas, talleres, fiestas, Twitter y cualquier otra red social.</p>

<p>Las y los participantes de la conferencia que violen estas reglas podrán ser expulsados del evento sin derecho a ningún tipo de reembolso a criterio de las y los organizadores de la conferencia.</p>

<p>Los patrocinadores también se encuentran sujetos a nuestra política anti acoso. Estos en particular, no podrán utilizar imágenes, actividades o material sexualizado. El personal de los stands, incluyendo a las y los voluntarios, no podrán utilizar ropa/uniformes/disfraces o cualquier otra cosa que cree un ambiente sexualizado.</p>

<h2>Reportes</h2>

<p>Si alguien te hace sentir a ti o a alguien más inseguro o inapropiado, por favor repórtalo tan pronto como te sea posible. Si ves u oyes a alguien hacer algo que viole este código de conducta, por favor háznoslo saber. Puedes hacer tu reporte por alguno de los siguientes medios:</p>

<ul>
  <li>Contacta a algún miembro del personal, podrás identificarnos por nuestras camisetas con la palabra “organizador”.</li>
  <li>Mensajes directos por X: nuestros mensajes directos en X se encuentran siempre abiertos.</li>
  <li>Correo electrónico: Puedes enviarnos un correo electrónico, tardaremos aproximadamente una hora en responderte.</li>
</ul>

<h2>Cumplimiento</h2>

<p>Se espera que a las y los participantes que se les solicite detener cualquier comportamiento de acoso, lo hagan de inmediato.</p>

<p>Cualquiera que se involucre en conductas de acoso las y los organizadores del evento se reservan el derecho a tomar cualquier medida necesaria para mantener el evento con un ambiente acogedor para todas y todos los participantes. Esto incluye advertencias o la expulsión de la conferencia sin derecho a devoluciones para el agraviante.</p>

<p>Esperamos que todas y todos los participante sigan estas reglas durante su permanencia en la conferencia, talleres y cualquier evento social relacionado con la conferencia.</p>

<h2>Acoso</h2>

<ul>
  <li>Comentarios verbales o escritos que refuercen estructuras sociales de dominación relacionadas al género, identidad y expresión de género, orientación sexual, discapacidad, apariencia física, tipo de cuerpo, raza, edad o religión.</li>
  <li>Imágenes sexuales en espacios públicos.</li>
  <li>Intimidación deliberada, acoso o seguimiento.</li>
  <li>Acoso con fotografías o videos.</li>
  <li>Interrupciones constantes durante las conversaciones u otros eventos.</li>
  <li>Contacto físico inapropiado.</li>
  <li>Atención sexual no deseada.</li>
  <li>Abogar por, o alentar a alguna de las conductas anteriormente mencionadas.</li>
</ul>

<h2>Lenguaje inclusivo</h2>

<p>En nuestro compromiso por generar un entorno inclusivo y libre de acoso, creemos firmemente en la importancia de prestar atención a los patrones de lenguaje dañinos.</p>

<h3>Discriminación de la discapacidad</h3>

<p>Palabras como “demente”, “loco”, “mongol” o “retrasado mental”, son ejemplos de lenguaje capacitista devaluando las personas que tienen alguna discapacidad física o mental. A menudo no se deriva de ningún deseo intencional de ofender, sino de la normalización que le hemos dado a lo que significa ser “normal”. Estas palabras se pueden evitar mediante el uso de descripciones más adecuadas y claras de lo que se quiera comunicar.</p>

<p>Para obtener más información acerca de discriminación de la discapacidad y términos de reemplazo, <a href="https://libguides.ufv.ca/c.php?g=705905&p=5193383" target="_blank" rel="noopener">por favor lee esta guía.</a></p>
</article>
</Layout>