---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Código de Conducta">
  <article
    class="relative prose prose-invert prose-lg mx-auto max-w-xl text-white pt-32 px-section"
  >
    <a href="/" class="text-white mb-10 inline-block" aria-label="Volver a la página de inicio"
      >← Volver al inicio</a
    >
    <div class="row">
      <div class="col col-xl-10 mx-auto">
        <header class="text-center">
          <h1 class="m-auto">Código de Conducta</h1>
        </header>
        <section>
          <h3>Disclaimer</h3>
          <p>
            Todos los asistentes, expositores, voluntarios y auspiciadores tanto de los eventos
            realizados a través de JSConf España (JSConf, TechSchool, Meetups, e-Meetups, Podcasts,
            etc.), así como quienes participen e interactúen en cualquiera de las plataformas de
            redes sociales (Facebook, Slack, Discord, Twitter, etc.), se comprometen a seguir y
            respetar nuestro código de conducta.
          </p>
          <p>
            La organización siempre se encargará de velar por el cumplimiento y respeto de lo aquí
            expuesto.
          </p>
          <p>No se harán excepciones de ningún tipo.</p>
        </section>

        <section>
          <h3>La versión más corta de todas</h3>
          <p>
            ¿Has visto cómo luego de algunos eventos, todos terminan hablando de “aquella persona”
            que causó un mal rato a uno o más asistentes? Que no sea de ti de quien hablen :)
          </p>
        </section>

        <section>
          <h3>La versión no tan corta</h3>
          <p>
            En los eventos desarrollados por JSConf España (JSConf, TechSchool, Conferencias, etc.),
            así como en cualquiera de las plataformas de redes sociales (Facebook, Slack, Discord,
            Twitter, etc.), buscamos crear un espacio y una experiencia libre de acoso.
          </p>
          <p>
            Nuestro lema es que todos son bienvenidos, sin importar género, raza, orientación
            sexual, capacidades, apariencia física y/o creencias.
          </p>
          <p>
            No toleramos el acoso bajo ningún tipo, forma ni contexto, directa o indirectamente.
            Cualquier participante que viole estas reglas será sancionado y expulsado de este y
            futuros eventos.
          </p>
        </section>

        <section>
          <h3>La versión más larga</h3>
          <h4>¿Qué se entiende por acoso?</h4>
          <p>
            Abuso físico y/o verbal relacionados al género de una persona, orientación sexual,
            capacidades, género, apariencia física, nivel de conocimiento, raza y/o creencias
            religiosas. Adicionalmente, creación y/o reproducción de imágenes de contenido sexual en
            espacios públicos, intimidación física y/o verbal, acecho, interrupciones groseras de
            charlas y/o contacto físico inapropiado.
          </p>
          <p>
            La organización se reserva el derecho de solicitar que cualquier comportamiento
            relacionado a lo anterior que sea visto durante un evento, sea detenido inmediatamente
            por quien(es) lo realizan. Adicionalmente, quienes atenten contra este código de
            conducta podrán ser expulsados de este y futuros eventos.
          </p>
          <p>
            Si eres víctima o testigo de algún tipo de acoso, de cualquiera según lo detallado
            anteriormente, por favor contacta a un miembro de la organización de forma inmediata.
            Los encargados del evento se identificarán oportunamente al comienzo de cada instancia.
          </p>
          <p>
            Si es necesario, la organización ayudará a contactar autoridades policiales y/o proveerá
            cualquier tipo de asistencia necesaria para remediar la situación.
          </p>
          <p>
            Somos una comunidad inclusiva que valora la diversidad. Si no estás de acuerdo con esto,
            probablemente no debas estar en nuestros eventos ;)
          </p>
        </section>
      </div>
    </div>
  </article>
</Layout>
