---
import Layout from "../layouts/Layout.astro"

import Landing from "@components/sections/Landing.astro"
import Sponsors from "@components/sections/Sponsors.astro"
import Speakers from "@components/sections/Speakers.astro"
import Information from "@components/sections/Information.astro"
import Footer from "@components/sections/Footer.astro"
---

<Layout title="JSConf España 2025 - Conferencia presencial de programación de JavaScript">
  <Landing />
  <Sponsors />
  <Speakers />
  <Information />
  <div class="w-screen py-10 text-white font-sans bg-black">
    <Footer />
  </div>
</Layout>
