---
import Coffe from '@/icons/Coffe.svg'

const { item } = Astro.props
const { topic, time } = item
---

<div class="text-center mt-8 w-[75%] mx-auto">
  <div class="flex items-center justify-center">
    <hr class="flex-grow border-t-0.5 border-[#191919] " />
    <div>
      <p class="px-4 flex items-center gap-2">
        <Coffe class="size-4" />
        {topic}
      </p>
      <p>
        {time}
      </p>
    </div>
    <hr class="flex-grow border-t-0.5 border-[#191919] " />
  </div>
</div>
