---
import Button from '@/components/Button.astro'

// import KeepCodingLogo from './KeepCodingLogo.astro'
---

<div class="relative min-h-screen flex flex-col items-center justify-center px-4 text-center">
  <div class="space-y-8">
    <h1
      class="text-6xl md:text-8xl font-clash font-semibold bg-gradient-to-r from-white/50 via-white to-white/70 inline-block text-transparent bg-clip-text"
    >
      JSConf España 2025
    </h1>
    <div class="text-3xl md:text-5xl lg:text-7xl font-light space-y-2">
      <p>
        Una experiencia <span
          class="text-black relative before:content-[''] overflow-hidden before:absolute before:w-full before:h-full before:bg-gradient-to-r before:from-[#FFFE65] before:to-[#F7DF1F] before:rotate-2 mix-blend-lighten before:-z-30 before:-left-2 before:top-0"
        >
          exclusiva
        </span> de
      </p>
      <p>JavaScript</p>
    </div>

    <div class="flex items-center justify-center gap-2">
      <span>Powered by</span>
      <!-- <KeepCodingLogo class="h-8" /> -->
    </div>

    <div class="flex flex-col md:flex-row gap-4 justify-center mt-12">
      <Button href="#" style="yellow">
        <span> ¡Consigue tu entrada! </span>
      </Button>
      <Button href="#" style="transparent">
        <span> ¡Quiero patrocinar! </span>
      </Button>
    </div>

    <div
      class="inline-flex items-center justify-center gap-2.5 bg-white/5 px-4 py-2.5 rounded-full font-clash"
    >
      <span>🔥</span>
      <p
        class="bg-gradient-to-bl from-[#F7DF1F] to-[#FF5011] text-transparent bg-clip-text leading-normal"
      >
        ¡Vendidas el 60% de las entradas!
      </p>
      <span class="text-white">¡Consigue la tuya antes de que se agoten!</span>
    </div>
  </div>
</div>
