<div
  class="absolute inset-0 -z-10 h-full w-full bg-[linear-gradient(to_right,#80808012_1px,transparent_1px),linear-gradient(to_bottom,#80808012_1px,transparent_1px)] bg-[size:24px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
>
</div>
<div class="absolute inset-0 -z-10 bg-gradient-to-t from-black via-transparent to-transparent">
</div>
<div
  class="absolute top-0 left-0 right-0 -z-10 h-[500px] w-full bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(247,223,31,0.15),rgba(255,255,255,0))]"
>
</div>
