---
import ArrowUp from '@/icons/ArrowUp.svg'
import Button from './Button.astro'

const { style = 'black' } = Astro.props
---

<Button href="mailto:miduga@gmail.com" style={style}>
  <span>¡Quiero patrocinar!</span>
  <ArrowUp slot="iron-right" class="size-4" />
</Button>
