---
import Ticket from '@/icons/Ticket.svg'
import Button from '@/components/Button.astro'
const { style = 'black' } = Astro.props
---

<tito-button class="w-full md:w-auto" event="js-conf/js-conf-2025" discount-code="LAS_ULTIMAS">
  <Button style={style}>
    <span> Apuntarme a la lista de espera </span>
    <Ticket slot="icon-left" />
  </Button>
</tito-button>
<style is:inline>
  .tito-widget-button {
    width: 100%;
  }
</style>
