---
import Ticket from '@/icons/Ticket.svg'
import Button from '@/components/Button.astro'
const { style = 'black' } = Astro.props
---

<Button style={style} class="buy-tickets-button">
  <span> Comprar Entradas </span>
  <Ticket slot="icon-left" />
</Button>

<script>
  const buyTicketsButtons = document.querySelectorAll('.buy-tickets-button')
  buyTicketsButtons.forEach((button) => {
    button.addEventListener('click', () => {
      window.dispatchEvent(new CustomEvent('open-ticket-tailor'))
    })
  })
</script>
