---
import Ticket from '@/icons/Ticket.svg'
import Button from '@/components/Button.astro'
const { style = 'black' } = Astro.props
---

<tito-button event="js-conf/js-conf-2025" discount-code="EARLY">
  <Button style={style}>
    <span> ¡Consigue tu entrada! </span>
    <Ticket slot="icon-left" />
  </Button>
</tito-button>
<style is:inline>
  .tito-widget-button {
    width: 100%;
  }
</style>
