---
let ticketsCount = 81

try {
  const apiURL = 'https://api.tito.io/v3/js-conf/js-conf-2025'
  const headers = {
    Accept: 'application/json',
    'Content-Type': 'application/json',
    Authorization: `Token ${import.meta.env.TITO_API_TOKEN}`,
  }

  const response = await fetch(apiURL, { headers })
  const {
    event: { tickets_count: count },
  } = await response.json()
  ticketsCount = count
} catch (error) {}
---

<span slot="fallback">¡Sólo quedan {500 - ticketsCount} entradas!</span>
