---
interface Props {
  color?: string
  class?: string
}
const { color = 'black', class: className } = Astro.props
---
<span class="relative">
  <slot />
  <svg
    class:list={['absolute -bottom-4 left-0 right-0 translate-x-1/2', className]}
    width="159"
    height="11"
    viewBox="0 0 159 11"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M34.6102 2.23473C49.7135 1.91256 64.8251 1.70545 79.9366 1.6134C95.0481 1.52135 110.02 1.55203 125.057 1.69777C133.6 1.78215 142.15 1.89722 150.693 2.05063L151.852 0.47811C132.35 0.792615 112.856 1.18383 93.3627 1.65175C73.869 2.11967 54.3752 2.6643 34.8815 3.29331C23.9384 3.64617 13.0035 4.01437 2.06039 4.41326C1.41909 4.43627 0.457152 4.58969 0.0953964 5.17267C-0.241694 5.7173 0.383157 6.00112 0.901126 5.98578C21.217 5.50252 41.5493 5.45649 61.8735 5.85538C82.1976 6.25426 102.505 7.10572 122.788 8.39443C134.184 9.11549 145.571 9.98229 156.941 10.9872C157.558 11.0409 158.577 10.757 158.906 10.2278C159.268 9.65245 158.594 9.453 158.101 9.41465C137.867 7.62734 117.584 6.27727 97.2844 5.37211C76.985 4.46695 56.6527 4.01437 36.3286 4.0067C24.9086 4.0067 13.4886 4.13711 2.06861 4.41326L0.909347 5.98578C20.3948 5.27239 39.8886 4.64338 59.3823 4.08341C78.876 3.53111 98.3697 3.04784 117.863 2.64896C128.807 2.42651 139.758 2.21939 150.701 2.04296C151.342 2.03529 152.312 1.85886 152.666 1.28355C153.02 0.708235 152.37 0.47811 151.86 0.470439C136.741 0.20963 121.637 0.048542 106.526 0.0101877C91.4141 -0.0281665 76.4424 0.0408711 61.4048 0.232642C52.8624 0.340034 44.3118 0.485781 35.7695 0.669881C35.1282 0.685223 34.158 0.853981 33.8045 1.4293C33.4674 1.97393 34.0922 2.25775 34.6102 2.24241V2.23473Z"
      fill={color}></path>
  </svg>
</span>
