---
import Container from '@/components/Container.astro'

---

<section id="agenda" class="bg-black flex flex-col px-section text-white font-clash scroll-mt-28">
  <Container class="w-full">
    <div class="flex gap-4 justify-between pb-6 flex-col md:flex-row md:items-center">
      <h3 class="text-5xl">Programa del evento</h3>
    <div class="animate-on-scroll flex flex-col items-center justify-center py-24">
      <p class="text-4xl text-gray-500 font-medium uppercase text-center">
        Próximamente
      </p>
      <p class="text-xl text-gray-600 mt-4 text-center text-balance max-w-lg">
        Estamos trabajando en el programa del evento. ¡Muy pronto anunciaremos los horarios!
      </p>
    </div>
  </Container>
</section>
