---
import Container from '@/components/Container.astro'
import LogoIcon from '@/icons/Logo.svg'
import MiduLogoIcon from '@/icons/MiduLogo.svg'
---

<footer>
  <Container class="pb-0 pt-12 px-section">
    <div
      class="flex md:flex-row flex-col max-md:gap-y-4 justify-between items-center border-b border-white/10 pb-2"
    >
      <div class="flex flex-row gap-x-3 md:items-center items-start justify-center">
        <LogoIcon class="md:size-16 size-9" />
        <div>
          <h4
            class="font-clash font-semibold max-md:h-4 md:text-2xl text-lg flex flex-row items-center gap-x-2 text-white"
          >
            JSConf España
            <span
              class="rounded-full bg-javascript text-black font-semibold md:text-lg text-xs md:px-3 px-2 leading-none flex justify-center items-center"
              >2025
            </span>
          </h4>
          <span class="uppercase font-light text-white max-md:text-xs">1 MARZO 2025</span>
        </div>
      </div>

      <h4 class="font-clash text-center text-white flex justify-center items-center gap-x-2">
        Una iniciativa de
        <a
          class="flex flex-row gap-x-2 justify-center items-center transition-transform hover:scale-110"
          href="https://midu.dev/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <MiduLogoIcon /><strong class="font-semibold">midudev</strong>
        </a>
      </h4>
    </div>
    <div
      class="flex flex-row text-white/70 md:gap-x-6 gap-x-3 py-6 md:justify-between items-center justify-center flex-wrap"
    >
      <div class="flex items-center gap-2">
        <a href="/legal" target="_self" class="hover:text-javascript text-light-gray">Legal</a>
        <svg width="4" height="4" viewBox="0 0 4 4" fill="none">
          <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
        </svg>

        <a href="/privacidad" target="_self" class="hover:text-javascript text-light-gray">Política de privacidad</a
        >
      </div>
      <div class="text-white text-sm opacity-75">
        <p>
          Diseñado con ❤️ by <a
            href="https://zegieweb.com/"
            target="_blank"
            rel="noreferrer noopener"
            class="underline underline-offset-4">Vladyslav</a>
        </p>
      </div>
    </div>
  </Container>
</footer>
