---
import LogoIcon from '@/icons/Logo.svg'
import MiduLogoIcon from '@/icons/MiduLogo.svg'
---

<footer class="mx-auto w-[1392px]">
  <div class="flex justify-between items-center border-b border-white/10 pb-2">
    <div class="flex flex-row gap-x-3 items-center justify-center">
      <LogoIcon />
      <div>
        <h5 class="font-clash font-semibold text-2xl flex flex-row gap-x-2">
          JSConf España
          <span
            class="rounded-full bg-javascript text-black font-semibold text-lg px-3 flex justify-center items-center"
            >2025</span
          >
        </h5>
        <span class="uppercase font-light text-white">1 MARZO 2025</span>
      </div>
    </div>

    <h5 class="font-clash text-center text-white flex justify-center items-center gap-x-2">
      Una iniciativa de <MiduLogoIcon />
      <strong class="font-semibold">midudev</strong>
    </h5>
  </div>
</footer>
