---
import LogoIcon from '@/icons/Logo.svg'
import MiduLogoIcon from '@/icons/MiduLogo.svg'
---

<footer class="mx-auto xl:w-[1392px] xs:w-100">
  <div
    class="flex md:flex-row flex-col max-md:gap-y-4 justify-between items-center border-b border-white/10 pb-2"
  >
    <div class="flex flex-row gap-x-3 md:items-center items-start justify-center">
      <LogoIcon class="md:size-16 size-9" />
      <div>
        <h5
          class="font-clash font-semibold max-md:h-4 md:text-2xl text-lg flex flex-row items-center gap-x-2 text-white"
        >
          JSConf España
          <span
            class="rounded-full bg-javascript text-black font-semibold md:text-lg text-xs md:px-3 px-2 leading-none flex justify-center items-center"
            >2025
          </span>
        </h5>
        <span class="uppercase font-light text-white max-md:text-xs">1 MARZO 2025</span>
      </div>
    </div>

    <h5 class="font-clash text-center text-white flex justify-center items-center gap-x-2">
      Una iniciativa de <MiduLogoIcon />
      <strong class="font-semibold">midudev</strong>
    </h5>
  </div>
  <div
    class="flex flex-row text-white/70 md:gap-x-6 gap-x-3 py-6 md:justify-start items-center justify-center"
  >
    <a href="#" target="_self" class="hover:text-javascript">Legal</a>
    <svg width="4" height="4" viewBox="0 0 4 4" fill="none">
      <circle cx="2" cy="2" r="2" fill="currentColor"></circle>
    </svg>

    <a href="#" target="_self" class="hover:text-javascript">Política de privacidad</a>
  </div>
</footer>
