---
import LogoIcon from '@/icons/Logo.svg'
import Button from '@/components/Button.astro'
import LinkSponsor from '@/components/LinkSponsor.astro'
---

<header class="py-4">
  <div class="flex justify-around items-center pb-2">
    <div class="flex flex-row gap-x-3 items-center justify-center">
      <LogoIcon />
      <div>
        <h5 class="font-clash font-semibold text-2xl flex flex-row gap-x-2 text-white">
          JSConf España
          <span
            class="rounded-full bg-javascript text-black font-semibold text-lg px-3 flex justify-center items-center"
            >2025
          </span>
        </h5>
        <span class="uppercase font-light text-white">1 MARZO 2025</span>
      </div>
    </div>
    <div class="text-white">
      <nav class="hidden md:flex gap-8 text-sm">
        <a href="#agenda" class="hover:text-gray-300 transition">AGENDA</a>
        <a href="#speakers" class="hover:text-gray-300 transition">SPEAKERS</a>
        <a href="#sponsors" class="hover:text-gray-300 transition">SPONSORS</a>
      </nav>
    </div>
    <div class="flex items-center gap-4">
      <LinkSponsor theme="dark" />
      <Button class="flex items-center" style="yellow" href="#"> ¡Consigue tu entrada! </Button>
    </div>
  </div>
</header>
