---
import Hero from '@/components/Hero.astro'
---

<section id="home" class="mt-24">
  <div class="min-h-screen bg-gradient-to-b from-black to-[#0B0B0B] text-white">
    <Hero />
  </div>
</section>
