---
import Container from '@/components/Container.astro'
import Agenda from '@/icons/Agenda.svg'
import PointerMap from '@/icons/PointerMap.svg'
import Ticket from '@/icons/Ticket.svg'
import InfojobsLogo from '@/icons/InfojobsLogo.svg'
---

<section class="bg-black text-black flex flex-col px-0">
  <Container class="py-0 xl:py-12">
    <div class="bg-javascript-radial pt-6 xl:pt-12 pb-4 px-6">
      <div class="flex flex-col xl:flex-row gap-6 xl:gap-0">
        <div class="flex flex-col flex-1 gap-4 font-clash pt-6 xl:px-6">
          <h3 class="text-4xl xl:text-7xl font-medium">Únete al Pre-Evento en Barcelona</h3>
          <p class="text-lg xl:text-2xl font-medium">
            ¡Porque la JSConf no empieza en marzo, empieza antes!
          </p>
          <p class="text-base xl:text-xl">
            Te invitamos a un Pre-Evento exclusivo en Barcelona, donde podrás disfrutar de charlas
            inspiradoras, sorteos y un adelanto de lo que te espera en la JSConf España 2025.
          </p>

          <div class="bg-javascript w-full text-white gap-6 flex flex-col p-6">
            <p class="text-sm">
              <Agenda class="w-6 h-6 inline-block mr-2" />
              Fecha por confirmar en enero.
            </p>
            <p class="text-base xl:text-lg">
              <PointerMap class="w-6 h-6 inline-block mr-2" />
              Oficinas de Adevinta Jobs, Barcelona.
            </p>
            <p class="text-sm xl:text-lg flex items-center">
              <Ticket class="w-6 h-6 inline-block mr-2" />
              <span class="text-gray-500 flex flex-col xl:flex-row xl:gap-1">
                <strong class="font-medium text-white">¡Es Gratis!</strong>
                Prioridad para asistentes confirmados de la JSConf.
              </span>
            </p>
          </div>
        </div>
        <div class="w-full xl:w-[43%] flex items-end justify-end xl:px-0">
          <img
            src="/preevent.webp"
            alt="Foto de un Speaker del evento dando una charla en un escenario"
            class="w-full object-cover xl:max-w-lg h-full"
          />
        </div>
      </div>
      <div class="w-full justify-center flex xl:justify-start pt-4 px-6">
        <p class="text-sm xl:p-0 font-medium">
          <InfojobsLogo class="h-10 inline-block" />
          Patrocinador oficial
        </p>
      </div>
    </div>
  </Container>
</section>
