---
import Container from '@/components/Container.astro'
import ArrowUp from '@/icons/ArrowUp.svg'
import XLogo from '@/icons/XLogo.svg'
import TwitchLogo from '@/icons/TwitchLogo.svg'
import LinkedInSmallLogo from '@/icons/LinkedInSmallLogo.svg'
import Button from '@/components/Button.astro'
import UnderlineWord from '@/components/UnderlineWord.astro'
---

<section class="bg-black text-white mx-auto px-4 py-12">
  <Container class="lg:p-24">
    <div class="flex md:flex-row flex-col-reverse lg:gap-x-20 gap-x-10">
      <img
        src="/img/midu-presenter.webp"
        alt="Miguel Ángel Durán"
        class="md:w-5/12 max-md:mt-8 object-scale-down"
      />
      <div class="md:w-7/12 flex flex-col md:p-10 md:gap-y-10 gap-y-8">
        <h2 class="md:text-5xl text-[34px] font-clash font-medium">
          Presentado por <UnderlineWord
            class="text-white !-translate-x-5 !-translate-y-2 md:!translate-x-0 md:!translate-y-0"
            ><span class="text-javascript">midudev</span></UnderlineWord
          >
        </h2>
        <h3 class="md:text-2xl text-lg font-clash text-pretty">
          Uno de los mayores divulgadores de Programación de habla hispana. Más de 15 años de
          experiencia en <span class="text-javascript">JavaScript</span>.
        </h3>
        <div class="flex flex-row gap-x-4 items-center mb-8">
          <a
            href="https://www.linkedin.com/in/midudev/"
            target="_blank"
            class="text-white hover:scale-150 transition-transform"
            rel="noreferrer"
          >
            <LinkedInSmallLogo class="size-8" />
          </a>
          <a
            href="https://x.com/midudev"
            target="_blank"
            class="text-white hover:scale-150 transition-transform"
            rel="noreferrer"
          >
            <XLogo class="size-8" />
          </a>
          <a
            class="text-white hover:scale-150 transition-transform"
            href="https://www.twitch.tv/midudev"
            target="_blank"
            rel="noreferrer"
          >
            <TwitchLogo class="size-8" />
          </a>
        </div>
        <Button class="lg:px-10 max-w-fit" style="transparent" href="https://twitch.tv/midudev">
          <ArrowUp slot="icon-right" />
          ¿Quién es midudev?
        </Button>
      </div>
    </div>
  </Container>
</section>
