---
import Container from '@/components/Container.astro'
import ArrowUp from '@/icons/ArrowUp.svg'
import XLogo from '@/icons/XLogo.svg'
import TwitchLogo from '@/icons/TwitchLogo.svg'
import LinkedInSmallLogo from '@/icons/LinkedInSmallLogo.svg'
import Button from '@/components/Button.astro'
import UnderlineWord from '@/components/UnderlineWord.astro'

const socialNetworks = [
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/midudev/',
    icon: LinkedInSmallLogo,
  },
  {
    name: 'X',
    url: 'https://x.com/midudev',
    icon: XLogo,
  },
  {
    name: 'Twitch',
    url: 'https://www.twitch.tv/midudev',
    icon: TwitchLogo,
  },
]
---

<section class="mx-auto px-4 py-12 dark:bg-black dark:text-white bg-white text-black">
  <Container class="lg:p-24">
    <div class="flex md:flex-row flex-col-reverse lg:gap-x-20 gap-x-10">
      <img
        src="/img/midu-presenter.webp"
        alt="Miguel Ángel Durán"
        class="md:w-5/12 max-md:mt-8 object-scale-down"
      />
      <div class="md:w-7/12 flex flex-col md:p-10 md:gap-y-10 gap-y-8">
        <h2 class="md:text-5xl text-[34px] font-clash font-medium">
          Presentado por <UnderlineWord
            class="dark:text-white text-black !-translate-x-5 !-translate-y-2 md:!translate-x-0 md:!translate-y-0"
            ><span class="dark:text-javascript text-javascript-dark">midudev</span></UnderlineWord
          >
        </h2>
        <h3 class="md:text-2xl text-lg font-clash text-pretty">
          Uno de los mayores divulgadores de Programación de habla hispana. Más de 15 años de
          experiencia en <span class="dark:text-javascript text-javascript-dark">JavaScript</span>.
        </h3>
        <div class="flex flex-row gap-x-4 items-center mb-8">
          {
            socialNetworks.map(({ name, url, icon: Icon }) => (
              <a
                href={url}
                target="_blank"
                rel="noopener noreferrer"
                class="text-white hover:scale-150 transition-transform"
              >
                <Icon class="size-8" />
              </a>
            ))
          }
        </div>
        <Button
          class="lg:px-10 max-w-fit bg-white !text-black dark:!text-white dark:bg-black dark:!border-white !border-black"
          style="transparent"
          href="https://twitch.tv/midudev"
        >
          <ArrowUp slot="icon-right" />
          ¿Quién es midudev?
        </Button>
      </div>
    </div>
  </Container>
</section>
