---
import Container from '@/components/Container.astro'
import CrossContainerTitle from '@/components/CrossContainerTitle.astro'
import Card from '@/components/SpeakerCard.astro'
import speakersData from '@/data/speakers.json'
---

<section id="speakers" class="px-section">
  <Container class="items-center">
    <div class="flex justify-center flex-wrap">
      <h1 class="font-clash text-white lg:text-7xl sm:text-5xl text-3xl text-center leading-tight">
        ¡Nuestros
        <CrossContainerTitle>speakers</CrossContainerTitle> son auténticas estrellas de JavaScript de
        la comunidad hispana!
      </h1>
    </div>
    <div class="grid lg:grid-cols-4 grid-cols-2 md:gap-x-6 gap-x-3 md:gap-y-10 gap-y-6 pt-20">
      {
        speakersData.map((speaker, index) => (
          <Card
            {...speaker}
            companyLogo={speaker.companyLogo}
            marginTop={`${(index % 4) * 20}px`}
          />
        ))
      }
    </div>
  </Container>
</section>
