---
import Container from '@/components/Container.astro'
import CrossContainerTitle from '@/components/CrossContainerTitle.astro'
import Card from '@/components/SpeakerCard.astro'
import VercelLogo from '@/icons/VercelLogo.svg'
import LottieLogo from '@/icons/LottieLogo.svg'
import VueLogo from '@/icons/VueLogo.svg'

const speakers = [
  {
    name: 'Carmen Ansio',
    role: 'Designer Engineer',
    company: 'LottieFiles',
    description:
      'La maga del CSS, la que lleva las animaciones al próximo nivel. Verás lo que sabe de JavaScript.',
    imageUrl: '/img/carmen-ansio.webp',
    companyLogo: LottieLogo,
  },
  {
    name: 'Javier Velasco',
    role: 'Tech Lead',
    company: 'Vercel',
    description:
      'El 7º programador de Vercel. Muchas cosas buenas de Next.js son por su mano y gracia.',
    imageUrl: '/img/javier-velasco.webp',
    companyLogo: VercelLogo,
  },
  {
    name: 'Fernando Herrera',
    role: 'Profesor en Línea',
    company: 'DevTalles',
    description:
      'El Profesor en línea de Programación Web más visto. Seguro viste un curso suyo alguna vez.',
    imageUrl: '/img/fernando-herrera.webp',
    companyLogo: '/img/devtalles-logo.webp',
  },
  {
    name: 'Eduardo San Martín',
    role: 'Core Contributor',
    company: 'Vue.js',
    description:
      'Creador de Vue Router, Pinia y Vue Fire. ¿Y qué más? Contribuye al core de Vue.js',
    imageUrl: '/img/eduardo-vue.webp',
    companyLogo: VueLogo,
  },
  {
    name: 'Ilda Neta',
    role: 'Mobile Software Eng.',
    company: 'RockTheSport',
    description:
      'Ve belleza en cada detalle y convierte el minimalismo en experiencias móviles que gustan.',
    imageUrl: '/img/ildaneta.webp',
    companyLogo: '/img/rockthesport.webp',
  },
  {
    name: 'Jaione Arnaez-Telleria',
    role: 'Desarrolladora Front-End',
    company: 'IronTec',
    description:
      'Maneja datos como nadie y tiene pasión por el universo… ¡y también por JavaScript!',
    imageUrl: '/img/jaione.webp',
    companyLogo: '/img/irontec.webp',
  },
  {
    name: 'Erick Wendel',
    role: 'Creador de Contenido y Emprendedor',
    company: '',
    description:
      'El ninja brasileño de Node.js. Habla tan bien Español como JavaScript, incluso mejor.',
    imageUrl: '/img/erick-wendel.webp',
  },
  {
    name: 'Vanessa Medina',
    role: 'Senior Software Engineer',
    company: 'IFCO',
    description:
      'Le gusta viajar, la tecnología, los videojuegos, la fotografía, la música... y JavaScript',
    imageUrl: '/img/vanessa.webp',
  },
  {
    name: 'Henar Mendiola',
    role: 'Senior Software Engineer',
    company: 'OpenBank',
    description:
      'De estudiar sistemas moleculares caóticos a trabajar con JS. 8 años convirtiendo el caos en su aliado.',
    imageUrl: '/img/henar.webp',
  },
  {
    name: 'Alberto Casero',
    role: 'FullStack Web Director',
    company: 'KeepCoding',
    description:
      'Investigador, ingeniero, director e instructor. 20 años de experiencia en tecnología.',
    imageUrl: '/img/alberto-casero.webp',
  },
]
---

<section id="speakers" class="px-section scroll-mt-28">
  <Container class="items-center">
    <div class="flex justify-center flex-wrap">
      <h2 class="font-clash text-white lg:text-7xl sm:text-5xl text-3xl text-center leading-tight">
        ¡Nuestros
        <CrossContainerTitle>speakers</CrossContainerTitle> son auténticas estrellas de JavaScript de
        la comunidad hispana!
      </h2>
    </div>
    <div class="grid lg:grid-cols-4 grid-cols-2 md:gap-x-6 gap-x-3 md:gap-y-10 gap-y-6 pt-20">
      {
        speakers.map((speaker, index) => (
          <Card
            {...speaker}
            companyLogo={speaker.companyLogo}
            marginTop={`${(index % 4) * 20}px`}
          />
        ))
      }
    </div>
  </Container>
</section>
