---
import Container from '@/components/Container.astro'
import CrossContainerTitle from '@/components/CrossContainerTitle.astro'
import Card from '@/components/SpeakerCard.astro'
import VercelLogo from '@/icons/VercelLogo.svg'
import StripeLogo from '@/icons/StripeLogo.svg'
import VueLogo from '@/icons/VueLogo.svg'
import MicrosoftLogo from '@/icons/MicrosoftLogo.svg'

const speakers = [
  {
    name: 'Carmen Ansio',
    role: 'Designer Engineer',
    company: 'Stripe',
    description:
      'La maga del CSS, la que lleva las animaciones al próximo nivel. Verás lo que sabe de JavaScript.',
    imageUrl: '/img/carmen-ansio.webp',
    companyLogo: StripeLogo,
    social: 'https://www.carmenansio.dev/',
  },
  {
    name: 'Gisela Torres',
    role: 'Sr. Global Blackbelt',
    company: 'Microsoft',
    description:
      'Blackbelt en Microsoft y Capitana en Docker. Doma la nube y los contenedores mientras ayuda a los devs a ser más felices.',
    imageUrl: '/img/gisela-torres.webp',
    companyLogo: MicrosoftLogo,
    social: 'https://x.com/0GiS0',
  },
  {
    name: 'Erick Wendel',
    role: 'Creador de Contenido y Emprendedor',
    company: '',
    description:
      'El ninja brasileño de Node.js. Habla tan bien Español como JavaScript, incluso mejor.',
    imageUrl: '/img/erick-wendel.webp',
    social: 'https://x.com/erickwendel_/',
  },
]
---

<section id="speakers" class="px-section scroll-mt-28">
  <Container class="items-center">
    <div class="flex justify-center flex-wrap">
      <h2 class="font-clash text-white lg:text-7xl sm:text-5xl text-3xl text-center leading-tight">
        ¡Nuestros
        <CrossContainerTitle>speakers</CrossContainerTitle> son auténticas estrellas de JavaScript de
        la comunidad hispana!
      </h2>
    </div>
    <!-- <div class="flex flex-col items-center justify-center pt-24 pb-12 w-full col-span-full">
        <p class="text-3xl text-white/50 font-clash">Próximamente</p>
        <p class="text-xl text-white/30 mt-4">Estamos seleccionando a los mejores speakers para ti.</p>
      </div> -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 pt-10">
      {speakers.map((speaker) => <Card {...speaker} companyLogo={speaker.companyLogo} />)}
    </div>
  </Container>
</section>
