---
import Container from '@/components/Container.astro'
import CrossContainerTitle from '@/components/CrossContainerTitle.astro'
import Card from '@/components/SpeakerCard.astro'
import GoogleLogo from '@/icons/GoogleSmallLogo.svg'
import VercelLogo from '@/icons/VercelLogo.svg'

const speakers = [
  {
    name: 'Javier Velasco',
    role: 'Tech Lead',
    company: 'Vercel',
    description: 'EDT designer que ganó varios premios.',
    imageUrl: '/img/Speaker1.webp',
    companyLogo: VercelLogo,
  },
  {
    name: 'Fernando Herrera',
    role: 'Tech Lead',
    company: 'Google',
    description: 'Experto en React y Vue.',
    imageUrl: '/img/Speaker2.webp',
    companyLogo: GoogleLogo,
  },
  {
    name: 'Eduardo San Martín',
    role: 'Core Contributor',
    company: 'Vue.js',
    description: 'Ayuda con proyectos de Vue.',
    imageUrl: '/img/Speaker2.webp',
    companyLogo: VercelLogo,
  },
  {
    name: 'Eduardo San Martín',
    role: 'Core Contributor',
    company: 'Google',
    description: 'Ayuda con proyectos de Vue.',
    imageUrl: '/img/Speaker2.webp',
    companyLogo: GoogleLogo,
  },
]
---

<section id="speakers" class="px-section">
  <Container class="items-center">
    <div class="flex justify-center flex-wrap">
      <h1 class="font-clash text-white lg:text-7xl sm:text-5xl text-3xl text-center leading-tight">
        ¡Nuestros
        <CrossContainerTitle>speakers</CrossContainerTitle> son auténticas estrellas de JavaScript de
        la comunidad hispana!
      </h1>
    </div>
    <div class="grid lg:grid-cols-4 grid-cols-2 md:gap-x-6 gap-x-3 md:gap-y-10 gap-y-6 pt-20">
      {
        speakers
          .concat(speakers)
          .concat(speakers)
          .map((speaker, index) => <Card {...speaker} companyLogo={speaker.companyLogo} marginTop={`${(index % 4) * 20}px`} />)
      }
    </div>
  </Container>
</section>
