---
import SponsorPlatinum from '@/icons/SponsorPlatinum.svg'
import SponsorPro from '@/icons/SponsorPro.svg'
import sponsorsData from '@/data/sponsors.json'
import Container from '@/components/Container.astro'
import LinkSponsor from '@/components/LinkSponsor.astro'

const icons: Record<string, any> = {
  platinum: SponsorPlatinum,
  pro: SponsorPro,
}
---

<section id="sponsors" class="bg-white text-black flex flex-col font-clash">
  <Container>
    <div class="flex items-center justify-between gap-12 mb-12 flex-col md:flex-row px-section">
      <div class="flex-1">
        <p class="text-gray-500 uppercase">Nuestros Sponsors</p>
        <h3 class="text-5xl xs:text-6xl font-medium text-balance">
          Agradecemos la confianza de los que están ayudando a que este proyecto se lleve a cabo
        </h3>
      </div>
      <LinkSponsor theme="light" />
    </div>

    <div class="flex items-center justify-between bg-black py-6 px-12 mb-12 flex-col md:flex-row">
      <img src="/sponsors/keepcoding.webp" alt="sponsor top" class="h-24 object-contain" />
      <p class="text-white text-xl text-balance">
        Quienes hacen que nuestro evento sea una realidad
      </p>
    </div>

    {
      sponsorsData &&
        sponsorsData.map((sponsor) => (
          <div class="flex flex-col gap-4 text-gray-700 col-span-1 px-section">
            <div class="flex items-center justify-end gap-1">
              <div class="flex items-center w-full">
                <div class="flex-grow border-t border-gray-300 w-auto flex-1" />
                <div class="ml-4 flex items-center w-100 gap-2">
                  <span>{sponsor.category}</span>
                  {(() => {
                    const IconComponent = icons[sponsor.icon]
                    return IconComponent ? <IconComponent className="size-4" /> : null
                  })()}
                </div>
              </div>
            </div>
            <div class="flex flex-wrap">
              {sponsor.companies.map((company, index) => (
                <div class="flex items-center justify-center p-2 w-full md:w-1/2 lg:w-1/4">
                  <img
                    src={company.image}
                    alt={company.name}
                    class="h-24 max-w-48 object-contain"
                  />
                </div>
              ))}
            </div>
          </div>
        ))
    }
  </Container>
</section>
