---
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
import UnderlineWord from '@/components/UnderlineWord.astro'
import Ticket from '@/icons/Ticket.svg'
import Agenda from '@/icons/Agenda.svg'
import Pin from '@/icons/Pin.svg'
import ArrowRight from '@/icons/ArrowRight.svg'
---

<section class="bg-javascript text-black pt-18 pb-8 px-6">
  <Container>
    <h2 class="text-6xl text-center font-clash max-w-5xl mx-auto">
      El día que Madrid se convertirá en la <strong class="font-semibold"
        >capital española de <UnderlineWord>JavaScript</UnderlineWord>
      </strong>
    </h2>

    <div class="flex py-12 gap-x-4 justify-around flex-col md:flex-row gap-y-8">
      <article class="md:p-12 border border-black md:w-[45%] w-full p-8">
        <span class="flex justify-start gap-x-2 items-center text-xl opacity-70"
          ><Agenda slot="icon-left" />
          ¿Cuándo?
        </span>
        <h4 class="text-6xl font-clash font-medium">1 de marzo 2025</h4>
        <h5 class="text-xl font-light">Sábado</h5>
      </article>

      <article class="md:p-12 border border-black md:w-[45%] w-full p-8">
        <span class="flex justify-start gap-x-2 items-center text-xl opacity-70">
          <Pin slot="icon-left" />
          Esteremos en...
        </span>
        <h4 class="text-6xl font-clash font-medium">La Nave, Madrid</h4>
        <h5 class="text-xl font-light">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="font-clash group flex gap-x-1 items-center font-medium hover:opacity-70"
          >
            <span class="underline underline-offset-4">Mostrar en el mapa</span>
            <ArrowRight slot="icon-right" class="group-hover:translate-x-1 transition" />
          </a>
        </h5>
      </article>
    </div>

    <div class="flex justify-center">
      <Button href="#" style="black">
        ¡Consigue tu entrada!
        <Ticket slot="icon-left" />
      </Button>
    </div>
  </Container>
</section>
