---
import Button from '@/components/Button.astro'
import Container from '@/components/Container.astro'
import UnderlineWord from '@/components/UnderlineWord.astro'
---

<section class="bg-javascript text-black pt-18 pb-8 px-6">
  <Container>
    <h2 class="text-6xl text-center font-clash max-w-5xl mx-auto">
      El día que Madrid se convertirá en la <strong class="font-semibold"
        >capital española de <UnderlineWord>JavaScript</UnderlineWord>
      </strong>
    </h2>

    <div class="flex py-12 gap-x-4 justify-around flex-col md:flex-row gap-y-8">
      <article class="md:p-12 border border-black md:w-[45%] w-full p-8">
        <span class="flex justify-start gap-x-2 items-center text-xl opacity-70"
          ><svg
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 2.5H19C19.5523 2.5 20 2.94772 20 3.5V19.5C20 20.0523 19.5523 20.5 19 20.5H1C0.44772 20.5 0 20.0523 0 19.5V3.5C0 2.94772 0.44772 2.5 1 2.5H5V0.5H7V2.5H13V0.5H15V2.5ZM2 8.5V18.5H18V8.5H2ZM4 10.5H6V12.5H4V10.5ZM4 14.5H6V16.5H4V14.5ZM8 10.5H16V12.5H8V10.5ZM8 14.5H13V16.5H8V14.5Z"
              fill="black"
            >
            </path>
          </svg>
          ¿Cuándo?
        </span>
        <h4 class="text-6xl font-clash font-medium">1 de marzo 2025</h4>
        <h5 class="text-xl font-light">Sábado</h5>
      </article>

      <article class="md:p-12 border border-black md:w-[45%] w-full p-8">
        <span class="flex justify-start gap-x-2 items-center text-xl opacity-70"
          ><svg
            width="18"
            height="23"
            viewBox="0 0 18 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9 22.2279L2.63604 15.864C-0.87868 12.3492 -0.87868 6.65076 2.63604 3.13604C6.15076 -0.37868 11.8492 -0.37868 15.364 3.13604C18.8787 6.65076 18.8787 12.3492 15.364 15.864L9 22.2279ZM13.9497 14.4497C16.6834 11.7161 16.6834 7.28392 13.9497 4.55025C11.2161 1.81658 6.78392 1.81658 4.05025 4.55025C1.31658 7.28392 1.31658 11.7161 4.05025 14.4497L9 19.3995L13.9497 14.4497ZM9 11.5C7.8954 11.5 7 10.6046 7 9.5C7 8.39543 7.8954 7.5 9 7.5C10.1046 7.5 11 8.39543 11 9.5C11 10.6046 10.1046 11.5 9 11.5Z"
              fill="black"
            >
            </path>
          </svg>

          Estáremos en...
        </span>
        <h4 class="text-6xl font-clash font-medium">La Nave, Madrid</h4>
        <h5 class="text-xl font-light">
          <a
            href="#"
            target="_blank"
            rel="noopener noreferrer"
            class="font-clash group flex gap-x-1 items-center font-medium hover:opacity-70"
          >
            <span class="underline underline-offset-4">Mostrar en el mapa</span>
            <svg
              class="group-hover:translate-x-1 transition"
              width="12"
              height="13"
              viewBox="0 0 12 13"
              fill="none"
            >
              <path
                d="M9.1287 5.74992L5.1057 1.72692L6.16635 0.66626L12 6.49992L6.16635 12.3335L5.1057 11.2729L9.1287 7.24992H0V5.74992H9.1287Z"
                fill="black"
              >
              </path>
            </svg>
          </a>
        </h5>
      </article>
    </div>

    <div class="flex justify-center">
      <Button href="#" style="black">
        ¡Consigue tu entrada!
        <svg
          slot="icon-left"
          width="20"
          height="18"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.0049 17.9998C9.0049 17.1713 8.3333 16.4998 7.50488 16.4998C6.67646 16.4998 6.00488 17.1713 6.00488 17.9998H1.00488C0.452603 17.9998 0.00488281 17.552 0.00488281 16.9998V0.999756C0.00488281 0.447476 0.452603 -0.000244141 1.00488 -0.000244141H6.00488C6.00488 0.828186 6.67646 1.49976 7.50488 1.49976C8.3333 1.49976 9.0049 0.828186 9.0049 -0.000244141H19.0049C19.5572 -0.000244141 20.0049 0.447476 20.0049 0.999756V6.49976C18.6242 6.49976 17.5049 7.6191 17.5049 8.9998C17.5049 10.3805 18.6242 11.4998 20.0049 11.4998V16.9998C20.0049 17.552 19.5572 17.9998 19.0049 17.9998H9.0049ZM7.50488 7.4998C8.3333 7.4998 9.0049 6.82819 9.0049 5.99976C9.0049 5.17134 8.3333 4.49976 7.50488 4.49976C6.67646 4.49976 6.00488 5.17134 6.00488 5.99976C6.00488 6.82819 6.67646 7.4998 7.50488 7.4998ZM7.50488 13.4998C8.3333 13.4998 9.0049 12.8282 9.0049 11.9998C9.0049 11.1713 8.3333 10.4998 7.50488 10.4998C6.67646 10.4998 6.00488 11.1713 6.00488 11.9998C6.00488 12.8282 6.67646 13.4998 7.50488 13.4998Z"
            fill="currentColor"
          >
          </path>
        </svg>
      </Button>
    </div>
  </Container>
</section>
