---
import { COMPRAR_ENTRADA } from '@/consts/links'
import Container from '@/components/Container.astro'
import WhyCard from '@/components/WhyCard.astro'
import ArrowRight from '@/icons/ArrowRight.svg'
import LinkEntrada from '@/components/LinkEntrada.astro'
---

<section class="bg-black text-white md:max-w-5/6 mx-auto px-section py-12">
  <div class="absolute z-10">
    <svg
      width="770"
      height="1123"
      viewBox="0 0 770 1123"
      fill="none"
      class="hidden md:block"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M-944 1.49999C-709.113 53.3649 -143.046 152.793 92.9414 419.535C392.057 757.633 -57.4089 1144.34 -121.37 945.92C-179.238 766.395 449.496 870.022 768.541 1277.71"
        stroke="url(#paint0_linear_7_655)"
        stroke-opacity="0.1"
        stroke-width="1.5"
        stroke-dasharray="12 12"></path>
      <defs>
        <linearGradient
          id="paint0_linear_7_655"
          x1="278.166"
          y1="428.355"
          x2="-453.625"
          y2="850.854"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white"></stop>
          <stop offset="1" stop-color="#999999" stop-opacity="0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <Container class="relative z-20">
    <h2
      class="md:text-6xl text-4xl md:w-5/6 mx-auto text-balance text-center font-medium font-clash mb-12"
    >
      ¿Por qué no debes perderte la JSConf?
    </h2>

    <div class="flex pt-6 pb-12 gap-x-6 justify-around flex-col md:flex-row gap-y-8">
      <WhyCard>
        <h4 slot="title" class="font-clash md:text-4xl text-2xl font-[450]">
          Contacto directo con los <strong class="text-javascript font-[450]"
            >expertos del sector</strong
          >
        </h4>
        <div slot="description" class="flex flex-col gap-y-4 opacity-90">
          <p>Entre nuestros speakers:</p>
          <ul class="flex flex-col gap-y-4 list-disc pl-5">
            <li>
              <strong class="font-bold">Javier Velasco</strong>, el séptimo desarrollador de Vercel,
              pieza clave en el desarrollo de Next.js.
            </li>

            <li>
              <strong class="font-bold">Eduardo San Martin</strong>, Core Contributor de Vue.js y
              creador de Vue Router.
            </li>
          </ul>
        </div>
      </WhyCard>
      <WhyCard>
        <h4 slot="title" class="font-clash md:text-4xl text-2xl font-[450]">
          <strong class="text-javascript font-[450]">Nuevas herramientas</strong> y enfoques
        </h4>
        <div slot="description" class="flex flex-col gap-y-4 opacity-90">
          <p>
            Cada charla ofrece profundidad y practicidad. Nuestros ponentes no solo muestran "cómo",
            sino que explican "por qué".
          </p>

          <p>Unas ideas que puedes aplicar directamente en tus proyectos.</p>
        </div>
      </WhyCard>
      <WhyCard>
        <h4 slot="title" class="font-clash md:text-4xl text-2xl font-[450]">
          <strong class="text-javascript font-[450]">Nuevos contactos</strong> que cambian carreras
        </h4>
        <div slot="description" class="flex flex-col gap-y-4">
          <p class="opacity-90">
            JSConf no es sólo un evento, es una comunidad. Conecta con otros apasionados del
            desarrollo, intercambia ideas y construye relaciones profesionales valiosas.
          </p>

          <a
            target="_blank"
            href={COMPRAR_ENTRADA}
            class="group py-2 font-clash text-javascript flex flex-row items-center gap-x-2"
          >
            Aprovecha la oportunidad <span
              ><ArrowRight class="group-hover:translate-x-1 transition" />
            </span></a
          >
        </div>
      </WhyCard>
    </div>

    <div class="flex justify-center max-md:mx-9">
      <LinkEntrada style="yellow" />
    </div>
  </Container>
</section>
