---
import Button from '@/components/Button.astro'
import CrossContainerTitle from '@/components/CrossContainerTitle.astro'
---

<main class="bg-black m-[120px]">
  <div class="flex justify-center flex-wrap">
    <h1 class="font-clash text-white text-7xl text-center leading-tight">
      No solo aprendizaje, también
      <br />
      conexión,
      <CrossContainerTitle>workshops del evento</CrossContainerTitle>
    </h1>
    <p class="text-paragraph">
      Aprende, conecta y colabora en sesiones prácticas diseñadas para inspirar y potenciar tus
      habilidades.
    </p>
  </div>
  <div class="m-[120px]">
    <div class="flex justify-between">
      <h5 class="text-white text-[34px]">Talleres prácticos destacados</h5>
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="font-clash group flex gap-x-1 items-center font-medium hover:opacity-70"
      >
        <span class="text-javascript">Consigue tu entrada</span>
        <svg
          class="group-hover:translate-x-1 transition"
          width="12"
          height="13"
          viewBox="0 0 12 13"
          fill="none"
        >
          <path
            d="M9.1287 5.74992L5.1057 1.72692L6.16635 0.66626L12 6.49992L6.16635 12.3335L5.1057 11.2729L9.1287 7.24992H0V5.74992H9.1287Z"
            fill="#f7df1e"
          >
          </path>
        </svg>
      </a>
    </div>
    <div>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6 bg-black">
        <div
          class="bg-backgroundCards shadow-md p-6 text-white border-[1px] border-backgroundCards font-clash max-w-[400px]"
        >
          <p class="text-white text-[16px] mb-4">16:00</p>
          <h6 class="text-[28px] font-clash mb-2 font-medium">
            Introducción a Firebase Genkit y Inteligencia Artificial
          </h6>
          <p class="text-light text-javascript font-light">
            Xavier Portilla |<span class="text-paragraph ml-6">Software Engineer en Google</span>
          </p>
          <p class="text-paragraph text-[16px] font-normal mt-4 mb-6 text-left ">
            <strong>Descubre Firebase Genkit</strong> en este taller introductorio en el DevFest Madrid.
            Exploraremos cómo este versátil framework permite a los desarrolladores crear aplicaciones
            impulsadas por inteligencia artificial con facilidad. Aprende a implementar las bibliotecas
            de código abierto de Genkit para Node.js y Go, integrarte con modelos de IA generativa y
            ejecutarlo de manera independiente de los servicios de Google. Perfecto para quienes buscan
            optimizar su proceso de desarrollo de IA.
          </p>
          <div class="flex flex-wrap gap-2">
            <span class="bg-yellow-500 text-black text-xs font-medium px-3 py-1 rounded-full">
              Firebase
            </span>
            <span class="bg-blue-500 text-white text-xs font-medium px-3 py-1 rounded-full">
              Inteligencia Artificial
            </span>
          </div>
        </div>
        <div
          class="bg-backgroundCards shadow-md p-6 text-white border-[1px] border-backgroundCards font-clash"
        >
          <p class="text-white text-[16px] mb-4">16:00</p>
          <h6 class="text-[28px] font-clash mb-2 font-medium">
            Introducción a Firebase Genkit y Inteligencia Artificial
          </h6>
          <p class="text-light text-javascript font-light">
            Xavier Portilla |<span class="text-paragraph ml-6">Software Engineer en Google</span>
          </p>
          <p class="text-paragraph text-[16px] font-normal mt-4 mb-6 text-left max-w-[400px]">
            <strong>Descubre Firebase Genkit</strong> en este taller introductorio en el DevFest Madrid.
            Exploraremos cómo este versátil framework permite a los desarrolladores crear aplicaciones
            impulsadas por inteligencia artificial con facilidad. Aprende a implementar las bibliotecas
            de código abierto de Genkit para Node.js y Go, integrarte con modelos de IA generativa y
            ejecutarlo de manera independiente de los servicios de Google. Perfecto para quienes buscan
            optimizar su proceso de desarrollo de IA.
          </p>
          <div class="flex flex-wrap gap-2">
            <span class="bg-yellow-500 text-black text-xs font-medium px-3 py-1 rounded-full">
              Firebase
            </span>
            <span class="bg-blue-500 text-white text-xs font-medium px-3 py-1 rounded-full">
              Inteligencia Artificial
            </span>
          </div>
        </div>
        <div
          class="bg-backgroundCards shadow-md p-6 text-white border-[1px] border-backgroundCards font-clash"
        >
          <p class="text-white text-[16px] mb-4">16:00</p>
          <h6 class="text-[28px] font-clash mb-2 font-medium">
            Introducción a Firebase Genkit y Inteligencia Artificial
          </h6>
          <p class="text-light text-javascript font-light">
            Xavier Portilla |<span class="text-paragraph ml-6">Software Engineer en Google</span>
          </p>
          <p class="text-paragraph text-[16px] font-normal mt-4 mb-6 text-left max-w-[400px]">
            <strong>Descubre Firebase Genkit</strong> en este taller introductorio en el DevFest Madrid.
            Exploraremos cómo este versátil framework permite a los desarrolladores crear aplicaciones
            impulsadas por inteligencia artificial con facilidad. Aprende a implementar las bibliotecas
            de código abierto de Genkit para Node.js y Go, integrarte con modelos de IA generativa y
            ejecutarlo de manera independiente de los servicios de Google. Perfecto para quienes buscan
            optimizar su proceso de desarrollo de IA.
          </p>
          <div class="flex flex-wrap gap-2">
            <span class="bg-yellow-500 text-black text-xs font-medium px-3 py-1 rounded-full">
              Firebase
            </span>
            <span class="bg-blue-500 text-white text-xs font-medium px-3 py-1 rounded-full">
              Inteligencia Artificial
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center max-md:mx-9">
      <Button href="#" style="yellow">
        ¡Consigue tu entrada!
        <svg
          slot="icon-left"
          width="20"
          height="18"
          viewBox="0 0 20 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.0049 17.9998C9.0049 17.1713 8.3333 16.4998 7.50488 16.4998C6.67646 16.4998 6.00488 17.1713 6.00488 17.9998H1.00488C0.452603 17.9998 0.00488281 17.552 0.00488281 16.9998V0.999756C0.00488281 0.447476 0.452603 -0.000244141 1.00488 -0.000244141H6.00488C6.00488 0.828186 6.67646 1.49976 7.50488 1.49976C8.3333 1.49976 9.0049 0.828186 9.0049 -0.000244141H19.0049C19.5572 -0.000244141 20.0049 0.447476 20.0049 0.999756V6.49976C18.6242 6.49976 17.5049 7.6191 17.5049 8.9998C17.5049 10.3805 18.6242 11.4998 20.0049 11.4998V16.9998C20.0049 17.552 19.5572 17.9998 19.0049 17.9998H9.0049ZM7.50488 7.4998C8.3333 7.4998 9.0049 6.82819 9.0049 5.99976C9.0049 5.17134 8.3333 4.49976 7.50488 4.49976C6.67646 4.49976 6.00488 5.17134 6.00488 5.99976C6.00488 6.82819 6.67646 7.4998 7.50488 7.4998ZM7.50488 13.4998C8.3333 13.4998 9.0049 12.8282 9.0049 11.9998C9.0049 11.1713 8.3333 10.4998 7.50488 10.4998C6.67646 10.4998 6.00488 11.1713 6.00488 11.9998C6.00488 12.8282 6.67646 13.4998 7.50488 13.4998Z"
            fill="currentColor"
          >
          </path>
        </svg>
      </Button>
    </div>
  </div>
</main>
