---
import Header from "@/sections/Header.astro"
import Footer from "@/sections/Footer.astro"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>JSConf</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/inter.woff2") format("woff2");
  }

  @font-face {
    font-family: "Clash";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/clash.woff2") format("woff2");
  }

  html,
  body {
    background: #000;
    font-family: "Inter", sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
