---
import Header from '@/sections/Header.astro'
import Footer from '@/sections/Footer.astro'
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>JSConf - Conferencia de JavaScript en España (1 de marzo 2025)</title>
  </head>
  <body class="relative">
    <div
      class="absolute h-full w-full bg-[url(/img/spotlight.webp)] bg-cover bg-no-repeat bottom-0 left-0 right-0 top-0 opacity-30 bg-top bg-blend-multiply"
    >
    </div>
    <div
      class="absolute h-full w-full bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:58px_58px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"
    >
    </div>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/inter.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Clash';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/fonts/clash.woff2') format('woff2');
  }

  html,
  body {
    background: #000;
    font-family: 'Inter', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
